---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Card from '../components/card/Card.astro';
import type {CardPropsDto, Category}  from '../model/AppModel'
import logger from '../configuration/logger';
import { categories } from '../data/schema'
import { home } from '../data/site';
import { dbInit } from '../data/drizzle';
import { mapperCategories } from '../data/repository/category-repository';
import { Base64 } from 'js-base64';
import {capitalize} from '../utils/util';


const { env } = Astro.locals.runtime;
const databaseTurso = dbInit(env);
const resultsTurso = await databaseTurso.select().from(categories).all() ;
let cards: CardPropsDto[] = [];
resultsTurso.forEach((result) => {
    let tarjeta = { 
            id: result.id,
            name: result.name,
            href: result.path+'/'+ result.name,
            target: result.target,
            bgcolor: result.color,
            icon: result.icon,
            colorIcon :result.color,
            title: capitalize(result.name),                           
            subTitle : result.subTitle, 
            linkType: home.categoryLink,       
            showIcon: true } as CardPropsDto;            
        cards.push(tarjeta);
   
});

logger.info("Categotias.astro cards:"+JSON .stringify(cards));

---
<Layout>    
    <section id="frameworks" class="py-20 bg-inherit" >
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-4xl font-cal font-bold text-center mb-12 bg-gradient-to-r from-orange-500 via-purple-500 to-blue-500 bg-clip-text text-transparent">
                Available Family Links
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">            
                {cards.map((card) => (
                    <Card cardData = {card} transition={card.name}></Card>              
                ))}
            </div>
        </div>
    </section>  
</Layout>

<style>
    section {
        perspective: 1000px;
    }
    
    .grid > a {
        transform: translateZ(0);
        transition: transform 0.3s ease;
    }
    
    .grid > a:hover {
        transform: translateZ(20px);
    }
</style>
