---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import { dbInit } from '../data/drizzle'
import { categories } from '../data/schema'
import logger from '../configuration/logger';

const { env } = Astro.locals.runtime;
const turso = dbInit(env);
const results = await turso.select().from(categories).all();
logger.info("result drizzle:"+JSON.stringify(results));
---
<Layout>
    <section id="frameworks" class="py-20 bg-inherit" >
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <ul class="space-y-4 text-left text-gray-500 dark:text-gray-400">
                {results.map((result) => (
                <li class="flex items-center space-x-3 rtl:space-x-reverse">
                    <svg class="shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                    </svg>
                    <span>{result.id}-{result.name}-{result.path}-{result.icon}</span>
                </li>
                ))}
            </ul>
        </div>
    </section>
</Layout>