---

---
<footer class="bg-black">
	<div class="mx-auto max-w-auto px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
	  <div class="flex justify-center gap-x-10 md:order-3">				
		<div class="text-white hover:text-purple-500">
		<a href="#" class="text-white hover:text-purple-500">
			<span class="sr-only">Gmail</span>
		  	<svg  class="size-8" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
				<path fill-rule="evenodd" d="m18.73 5.41-1.28 1L12 10.46 6.55 6.37l-1.28-1A2 2 0 0 0 2 7.05v11.59A1.36 1.36 0 0 0 3.36 20h3.19v-7.72L12 16.37l5.45-4.09V20h3.19A1.36 1.36 0 0 0 22 18.64V7.05a2 2 0 0 0-3.27-1.64z"></path>
			</svg>
		</a>
		</div>
	
	  <div class="text-white hover:text-purple-500">
		<a href="#" class="text-white hover:text-purple-500">
			<span class="sr-only">Bitbucket</span>
			<svg class="size-8" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true"><path d="M 12 2 C 8.117188 2 4 2.59375 4 5 C 4 6.515625 4.566406 10.902344 4.84375 12.9375 C 4.9375 13.617188 5.371094 14.21875 6 14.5 C 6 14.5 8 16 12 16 C 16 16 18 14.5 18 14.5 C 18.628906 14.21875 19.0625 13.617188 19.15625 12.9375 C 19.433594 10.902344 20 6.515625 20 5 C 20 2.59375 15.882813 2 12 2 Z M 12 4 C 15.8125 4 17.875 5.066406 18.0625 5.5 C 18.011719 5.617188 17.804688 5.789063 17.46875 5.96875 C 16.59375 6.441406 14.761719 7 12 7 C 9.105469 7 7.226563 6.375 6.40625 5.90625 C 6.128906 5.75 5.96875 5.628906 5.9375 5.53125 C 6.066406 5.113281 8.128906 4 12 4 Z M 12 9 C 13.652344 9 15 10.347656 15 12 C 15 13.652344 13.652344 15 12 15 C 10.347656 15 9 13.652344 9 12 C 9 10.347656 10.347656 9 12 9 Z M 12 11 C 11.449219 11 11 11.449219 11 12 C 11 12.550781 11.449219 13 12 13 C 12.550781 13 13 12.550781 13 12 C 13 11.449219 12.550781 11 12 11 Z M 6.125 15.5625 L 7 20 C 7 20 8 22 12 22 C 16 22 17 20 17 20 L 17.875 15.5625 C 17.421875 15.863281 15.476563 17 12 17 C 8.523438 17 6.578125 15.863281 6.125 15.5625 Z"/></svg>
		</a>
		</div>
	<div class="text-white hover:text-purple-500">
		<a href="#" class="text-white hover:text-purple-500">
			<span class="sr-only">Mail</span>
			<svg class="size-8" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
				<path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"></path>
			</svg>
		</a>
	  </div>	

	  </div>
	  <p class="mt-8 text-center text-sm/6 text-gray-600 md:order-1 md:mt-0">&copy; 2024 Links & Documentation.</p>
	</div>
</footer>
