---

---
<div class="stars">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
</div>
<style>
:root {
    --primary-color: #1e90ff;
    --top-offset: 0;              
}
.stars {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.46em;
  --top-offset: 87.04vh;
  --fall-duration: 8.541s;
  --fall-delay: 0.321s;
}
.star:nth-child(2) {
  --star-tail-length: 5.4em;
  --top-offset: 33.47vh;
  --fall-duration: 8.533s;
  --fall-delay: 9.814s;
}
.star:nth-child(3) {
  --star-tail-length: 6.79em;
  --top-offset: 23.02vh;
  --fall-duration: 9.988s;
  --fall-delay: 5.259s;
}
.star:nth-child(4) {
  --star-tail-length: 6.98em;
  --top-offset: 25.97vh;
  --fall-duration: 10.865s;
  --fall-delay: 6.62s;
}
.star:nth-child(5) {
  --star-tail-length: 7.26em;
  --top-offset: 33.62vh;
  --fall-duration: 8.96s;
  --fall-delay: 3.278s;
}
.star:nth-child(6) {
  --star-tail-length: 6.7em;
  --top-offset: 60.79vh;
  --fall-duration: 11.437s;
  --fall-delay: 4.769s;
}
.star:nth-child(7) {
  --star-tail-length: 5.43em;
  --top-offset: 98.17vh;
  --fall-duration: 8.512s;
  --fall-delay: 5.861s;
}
.star:nth-child(8) {
  --star-tail-length: 6.06em;
  --top-offset: 30.87vh;
  --fall-duration: 6.767s;
  --fall-delay: 1.511s;
}
.star:nth-child(9) {
  --star-tail-length: 6.42em;
  --top-offset: 60.14vh;
  --fall-duration: 11.492s;
  --fall-delay: 3.656s;
}
.star:nth-child(10) {
  --star-tail-length: 7.28em;
  --top-offset: 26.91vh;
  --fall-duration: 8.098s;
  --fall-delay: 3.151s;
}
.star:nth-child(11) {
  --star-tail-length: 5.47em;
  --top-offset: 87.85vh;
  --fall-duration: 9.816s;
  --fall-delay: 8.618s;
}
.star:nth-child(12) {
  --star-tail-length: 6.7em;
  --top-offset: 22.23vh;
  --fall-duration: 7.431s;
  --fall-delay: 0.37s;
}
.star:nth-child(13) {
  --star-tail-length: 6.71em;
  --top-offset: 26.52vh;
  --fall-duration: 6.581s;
  --fall-delay: 4.253s;
}
.star:nth-child(14) {
  --star-tail-length: 5.78em;
  --top-offset: 23.79vh;
  --fall-duration: 8.899s;
  --fall-delay: 8.481s;
}
.star:nth-child(15) {
  --star-tail-length: 6.15em;
  --top-offset: 9.43vh;
  --fall-duration: 7.248s;
  --fall-delay: 0.044s;
}
.star:nth-child(16) {
  --star-tail-length: 5.04em;
  --top-offset: 35.35vh;
  --fall-duration: 8.692s;
  --fall-delay: 7.992s;
}
.star:nth-child(17) {
  --star-tail-length: 5.6em;
  --top-offset: 96.08vh;
  --fall-duration: 11.305s;
  --fall-delay: 3.627s;
}
.star:nth-child(18) {
  --star-tail-length: 6.41em;
  --top-offset: 0.47vh;
  --fall-duration: 8.948s;
  --fall-delay: 3.778s;
}
.star:nth-child(19) {
  --star-tail-length: 5.33em;
  --top-offset: 86.85vh;
  --fall-duration: 8.922s;
  --fall-delay: 4.456s;
}
.star:nth-child(20) {
  --star-tail-length: 5.65em;
  --top-offset: 89.23vh;
  --fall-duration: 9.651s;
  --fall-delay: 6.538s;
}
.star:nth-child(21) {
  --star-tail-length: 5.47em;
  --top-offset: 35.83vh;
  --fall-duration: 11.308s;
  --fall-delay: 2.522s;
}
.star:nth-child(22) {
  --star-tail-length: 6.23em;
  --top-offset: 60.43vh;
  --fall-duration: 10.3s;
  --fall-delay: 7.713s;
}
.star:nth-child(23) {
  --star-tail-length: 5.06em;
  --top-offset: 91.6vh;
  --fall-duration: 9.338s;
  --fall-delay: 0.846s;
}
.star:nth-child(24) {
  --star-tail-length: 5.09em;
  --top-offset: 7.95vh;
  --fall-duration: 6.152s;
  --fall-delay: 2.867s;
}
.star:nth-child(25) {
  --star-tail-length: 6.44em;
  --top-offset: 90.5vh;
  --fall-duration: 7.255s;
  --fall-delay: 7.195s;
}
.star:nth-child(26) {
  --star-tail-length: 5.47em;
  --top-offset: 30.48vh;
  --fall-duration: 10.834s;
  --fall-delay: 2.23s;
}
.star:nth-child(27) {
  --star-tail-length: 6.24em;
  --top-offset: 84.64vh;
  --fall-duration: 10.651s;
  --fall-delay: 1.054s;
}
.star:nth-child(28) {
  --star-tail-length: 5.04em;
  --top-offset: 43.92vh;
  --fall-duration: 10.01s;
  --fall-delay: 9.675s;
}
.star:nth-child(29) {
  --star-tail-length: 6.73em;
  --top-offset: 29.88vh;
  --fall-duration: 11.539s;
  --fall-delay: 1.367s;
}
.star:nth-child(30) {
  --star-tail-length: 5.56em;
  --top-offset: 80.52vh;
  --fall-duration: 6.033s;
  --fall-delay: 2.048s;
}
.star:nth-child(31) {
  --star-tail-length: 7.06em;
  --top-offset: 7.1vh;
  --fall-duration: 8.181s;
  --fall-delay: 0.312s;
}
.star:nth-child(32) {
  --star-tail-length: 5.99em;
  --top-offset: 43.86vh;
  --fall-duration: 7.136s;
  --fall-delay: 9.509s;
}
.star:nth-child(33) {
  --star-tail-length: 6.69em;
  --top-offset: 86.28vh;
  --fall-duration: 9.127s;
  --fall-delay: 1.552s;
}
.star:nth-child(34) {
  --star-tail-length: 5.8em;
  --top-offset: 19.93vh;
  --fall-duration: 7.518s;
  --fall-delay: 8.475s;
}
.star:nth-child(35) {
  --star-tail-length: 6.25em;
  --top-offset: 21.63vh;
  --fall-duration: 7.417s;
  --fall-delay: 7.341s;
}
.star:nth-child(36) {
  --star-tail-length: 5.75em;
  --top-offset: 87.11vh;
  --fall-duration: 7.138s;
  --fall-delay: 5.146s;
}
.star:nth-child(37) {
  --star-tail-length: 6.89em;
  --top-offset: 80.47vh;
  --fall-duration: 6.998s;
  --fall-delay: 1.904s;
}
.star:nth-child(38) {
  --star-tail-length: 5.92em;
  --top-offset: 82.66vh;
  --fall-duration: 7.479s;
  --fall-delay: 0.893s;
}
.star:nth-child(39) {
  --star-tail-length: 5.75em;
  --top-offset: 31.43vh;
  --fall-duration: 7.994s;
  --fall-delay: 6.712s;
}
.star:nth-child(40) {
  --star-tail-length: 5.59em;
  --top-offset: 84.78vh;
  --fall-duration: 8.797s;
  --fall-delay: 9.849s;
}
.star:nth-child(41) {
  --star-tail-length: 6.04em;
  --top-offset: 2.63vh;
  --fall-duration: 11.558s;
  --fall-delay: 3.937s;
}
.star:nth-child(42) {
  --star-tail-length: 7.27em;
  --top-offset: 5.35vh;
  --fall-duration: 6.227s;
  --fall-delay: 0.449s;
}
.star:nth-child(43) {
  --star-tail-length: 6.52em;
  --top-offset: 85.02vh;
  --fall-duration: 9.458s;
  --fall-delay: 6.186s;
}
.star:nth-child(44) {
  --star-tail-length: 6.12em;
  --top-offset: 23.49vh;
  --fall-duration: 8.519s;
  --fall-delay: 9.819s;
}
.star:nth-child(45) {
  --star-tail-length: 5.35em;
  --top-offset: 85.47vh;
  --fall-duration: 10.715s;
  --fall-delay: 8.288s;
}
.star:nth-child(46) {
  --star-tail-length: 7.36em;
  --top-offset: 88.65vh;
  --fall-duration: 11.764s;
  --fall-delay: 2.999s;
}
.star:nth-child(47) {
  --star-tail-length: 7.31em;
  --top-offset: 85.35vh;
  --fall-duration: 9.874s;
  --fall-delay: 0.787s;
}
.star:nth-child(48) {
  --star-tail-length: 6.11em;
  --top-offset: 35.76vh;
  --fall-duration: 9.075s;
  --fall-delay: 5.85s;
}
.star:nth-child(49) {
  --star-tail-length: 6.22em;
  --top-offset: 90.62vh;
  --fall-duration: 9.322s;
  --fall-delay: 6.505s;
}
.star:nth-child(50) {
  --star-tail-length: 5.7em;
  --top-offset: 70.58vh;
  --fall-duration: 11.604s;
  --fall-delay: 0.252s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
</style>