---
const { title } = Astro.props;
---
<div class="flex items-center justify-between">
    <p class="text-3xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-500 to-purple-500">{title}</p>				
</div>